.newListWrapper{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.heading {
    margin: 20px 0;
}

.row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.buttonRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem auto 1rem;
}