/* .miniCardWrapper {
    overflow: hidden;
} */

.title {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.row {
	width: 100%;
	margin: 10px 0 0;
}

.row,
.quantityAndUnit,
.extraRow {
	display: flex;
	align-items: center;
}

.ingredient {
	flex-grow: 1;
    flex-basis: 0;
	white-space: nowrap;
	overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
}

.quantity {
	font-weight: bold;
}

.ellipsis.row {
    display: flex;
	justify-content: space-between;
}

.ellipsis {
	/* width: 100px; */
    margin-right: 20px;
}
