.cardWrapper {
    width: 60%;
    margin: 5% 0 10%;
	z-index: 4;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 10px;
}

.header > h1{
    margin: 0;
}

.colHeaders,
.row {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 2.6rem;
    margin: 0 10px 0;
    background: var(--m3--surfaces--surface1);
    border-radius: 5px;
}

.colHeaders > h4 {
    text-decoration: underline;
}

.handleIcon {
    color: var(--m3--sys--on-surface);
    cursor: move;
}

.ingredient {
    width: 100px;
    flex-grow: 3;
}
.quantity {
    width: 60px;
}

.colHeaders > .quantity {
    direction: rtl;
}

.unit {
    width: 80px;
    flex-grow: 1;
}
.section {
    width: 120px;
    text-align: center;
}
.kcal {
    width: 70px;
    text-align: center;
}

.deleteRowContainer {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--m3--sys--on-surface);
}

.deleteRowContainer:hover {
    background-color: var(--m3--state-layers--primary--opacity-016)
}

.deleteRow {
    font-size: 1.5rem;
    display: none;
}

.row:hover .deleteRow {
    display: block;
}

.row:has(.deleteRow:active) {
    background: var(--m3--state-layers--primary--opacity-012);
}

.addIngredient {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 10px;
}

.smallButton > button > div {
    padding: 10px;
}

.smallButton > button {
    height: 1.5rem;
    border-radius: 10px;
}

.deleteCrad {
    display: flex;
    justify-content: right;
}

.deleteCrad *:hover {
    background: none !important;
    color: var(--m3--sys--error);
}

