/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  
            IN COMMON to all button styles
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.button {
	background: transparent;
    height: 40px;
	border-radius: 100px;
    transition: background-color var(--transition), color var(--transition);  
    cursor: pointer;
    overflow: hidden;
    border: 0;
}

.buttonOpacityLayer {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 24px;
    height: 100%;
    width: 100%;
    /* transition: background-color 5000ms, color 5000ms;   */
}

.icon {
    margin: 0 10px 0;
    display: flex;
    flex-direction: row;
}


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  
            SPECIFIC to filled buttons
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.filled {
    color: var(--m3--sys--on-primary);
	background: var(--m3--sys--primary);
}

.filled .buttonOpacityLayer:hover {
    background: var(--m3--state-layers--on-primary--opacity-008);
}
.filled .buttonOpacityLayer:active {
    background: var(--m3--state-layers--on-primary--opacity-012);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  
            SPECIFIC to outlined buttons
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.outlined {
	color: var(--m3--sys--primary);
	border: 1px solid var(--m3--sys--outline);
}
.outlined .buttonOpacityLayer:hover {
    background: var(--m3--state-layers--primary--opacity-008);
}
.outlined .buttonOpacityLayer:active {
    background: var(--m3--state-layers--primary--opacity-012);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  
            SPECIFIC to text buttons
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.text {
	color: var(--m3--sys--primary);
}
.text .buttonOpacityLayer:hover {
    background: var(--m3--state-layers--primary--opacity-008);
}
.text .buttonOpacityLayer:active {
    background: var(--m3--state-layers--primary--opacity-012);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  
            SPECIFIC to elevated buttons
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.elevated {
	color: var(--m3--sys--primary);
	background: var(--m3--surfaces--surface1);
	box-shadow: var(--m3---elevation--1);
}
.elevated:hover {
	background: var(--m3--surfaces--surface2);
	box-shadow: var(--m3---elevation--2);
}
.elevated .buttonOpacityLayer:hover {
    background: var(--m3--state-layers--primary--opacity-008);
}
.elevated .buttonOpacityLayer:active {
    background: var(--m3--state-layers--primary--opacity-012);
}

.elevated:active {
    box-shadow: none;
}


