.test {
    --test-color: linear-gradient(0deg, hsla(46, 100%, 50%, 0.424),hsla(82, 100%, 50%, 0.424)), rgba(174, 0, 255, 0.497);
    --m3--surfaces--surface2: linear-gradient(0deg, hsla(139, 65%, 26%, 0.08), hsla(139, 65%, 26%, 0.08)), hsla(70, 60%, 98%, 1);

}

.test {
    height: 500px; 
    width: 500px;
    background: var(--test-color);
}