.authPage {
    background: var(--m3--sys--surface);
    min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transition: background-color var(--transition), color var(--transition);
}

.logo {
	aspect-ratio: 0.7;
	height: 80px;
	margin: 30px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.themeSwitch {
	align-self: flex-end;
	margin: 30px;
	position: absolute;
	right: 120px;
	top: 0;
}

.langPicker {
	align-self: flex-end;
	margin: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

.signinBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 150px auto 0;
	min-width: 525px;
	margin: 130px 20px;
}

.signinBox > * {
	margin-bottom: 40px;
}

.welcome {
	font-size: 3rem;
	transition: color var(--transition);
}

.createAccount {
	display: flex;
}

.orLine {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontalLine {
	flex-grow: 1;
	height: 2px;
	border: none;
	color: var(--m3--sys--on-surface);
	background: var(--m3--sys--on-surface);
	transition: background-color var(--transition), color var(--transition);
}

.or {
	transition: background-color var(--transition), color var(--transition);
	padding: 0 10px 0;
}

.createAnAccount,
.forgotPassword {
	display: block;
	color: var(--m3--sys--primary);
	transition: color var(--transition);
	text-decoration: none;
	margin-left: 10px;
}

.forgotPassword {
	margin-top: 10px;
}

.errorMessage {
	margin-bottom: 10px;
	text-align: center;
	color: var(--m3--sys--error);
}

@media only screen and (max-width: 700px) {
	.signinBox {
		min-width: 0px;
	}
	.createAccount {
		flex-direction: column;
	}
	.welcome,
	.createAccount * {
		text-align: center;
	}
}