/* For the moment, this trick set color of all text not part of a component like button or textfield. */
div > * {
	color: var(--m3--sys--on-surface);
}

.signinPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

img {
	aspect-ratio: 0.7;
	height: 80px;
	margin: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

.langPicker {
	align-self: flex-end;
	margin: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

.signinBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 150px auto 0;
	min-width: 525px;
}

.signinBox > * {
	margin-bottom: 40px;
}

.welcome {
	font-size: 3rem;
}

.createAccount {
	display: flex;
}

.orLine {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontalLine {
	flex-grow: 1;
	height: 2px;
	border: none;
	color: black;
	background-color: black;
}

.or {
	background-color: var(--m3--sys--surface-variant);
	padding: 0 10px 0;
}

.createAnAccount,
.forgotPassword {
	display: block;
	color: var(--m3--sys--primary);
	text-decoration: none;
	margin-left: 10px;
}

.forgotPassword {
	margin-top: 10px;
}
