.cardContainer {
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    height: 100%;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(6px) brightness(20%);
    pointer-events: none;
    opacity: 0;
    transition: 300;
}

.blur[data-show=true] {
    pointer-events:all;
    opacity: 1;
    transition: 300ms;
    z-index: 3;
}