.gridWrapper {
    height: 100%; 
    overflow: auto;
}

.blur {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding: 5% 10%;
    overflow: auto;
    backdrop-filter: blur(4px) brightness(40%);
    pointer-events: none;
    opacity: 0;
    transition: 300;
}

.blur[data-show=true] {
    pointer-events:all;
    opacity: 1;
    transition: 300ms;
    z-index: 3;
}


.fab {
	display: none;
}

@media only screen and (max-width: 740px) {
	
	.fab {
		display: block;
		background-color: var(--m3--sys--primary);
		box-shadow: var(--m3---elevation--5);
		width: 6rem;
		height: 6rem;
		border-radius: 30px;
		position: fixed;
		bottom: 3rem;
		right: 4rem;
		z-index: 1;
        cursor: pointer;
	}
	
	.fabMask{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30px;
		color: var(--m3--sys--on-primary);
	}

	.fabMask:hover {
		background: var(--m3--state-layers--on-secondary-container--opacity-008);
	}

	.fab:active {
		box-shadow: none;
	}
}

@media only screen and (max-width: 600px) {
	.blur {
		padding: 4rem 3%
	}
}