.gridWrapper {
    position: relative;
}

.blur {
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100vw;
    /* height: 100vh; */
    /* height: 100%; */
    min-height: 120vh;
    /* bottom: 0; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(6px) brightness(20%);
    pointer-events: none;
    opacity: 0;
    transition: 300;
}

.blur[data-show=true] {
    pointer-events:all;
    opacity: 1;
    transition: 300ms;
    z-index: 3;
}