.cardWrapper {
    width: 100%;
    min-width: 500px;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0px 10px;
}

.recipeNames{
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

.recipeNames>div {
    color: var(--m3--sys--primary);
    border: 1px solid var(--m3--sys--primary);
    border-radius: 0.5rem;
    padding: 5px;
    opacity: 0.4;
}

.colHeaders,
.row {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 2.6rem;
    margin: 0 10px 0;
    background: var(--m3--surfaces--surface1);
    border-radius: 5px;
}


/* Without this, the draggables are offset when dragging while scrolled down */
.row {
    top: auto !important;
    left: auto !important;
}

.colHeaders > h4 {
    text-decoration: underline;
    margin-top: 20px;
}

.handleIcon {
    visibility:hidden;
}
.row:hover .handleIcon {
    visibility: visible;
    color: var(--m3--sys--on-surface);
    cursor: move;
}

.checked {
    width: 4rem;
}

.ingredient {
    width: 100px;
    flex-grow: 3;
}
.quantity {
    width: 60px;
}

.colHeaders > .quantity {
    direction: rtl;
}

.unit {
    width: 80px;
    flex-grow: 1;
    margin-left: 10px;
}
.section {
    width: 120px;
    text-align: center;
}

.kcal {
    width: 70px;
    text-align: center;
}

.deleteRowContainer {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--m3--sys--on-surface);
}

.deleteRowContainer:hover {
    background-color: var(--m3--state-layers--primary--opacity-016)
}

.deleteRow {
    font-size: 1.5rem;
    visibility: hidden;
}

.row:hover .deleteRow {
    visibility: visible;
}

.row:has(.deleteRow:active) {
    background: var(--m3--state-layers--primary--opacity-012);
}

.addIngredient {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 10px;
}

.smallButton > button > div {
    padding: 10px 24px;
}

.smallButton > button {
    height: 2rem;
    border-radius: 15px;
}

.deleteCard {
    display: flex;
    justify-content: right;
}

.deleteCrad *:hover {
    background: none !important;
    color: var(--m3--sys--error);
}

