.dropdownContainer {
    position: relative;
}

.avatar {
    cursor: pointer;
    border-radius: 50%;
    background: var(--m3--surfaces--surface2);
    transition: background-color var(--transition);
}

/* Click on avatar when menu is open closes the menu */
.dropdownContainer:has(.activeMenu) > button {
    pointer-events: none;
}

.menu {
    position: absolute;
    top: 50px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--m3--surfaces--surface2);
    color: var(--m3--sys--on-surface);
    box-shadow: var(--m3---elevation--2);
    border-radius: 4px;
    z-index: 1;
    transition: 200ms;
}

.option {
    /* width: 9rem; */
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.option:hover {
    background: var(--m3--surfaces--surface5);
    font-weight: 700;
}

hr {
    border: 0.7px solid var(--m3--sys--on-surface);
    width: 80%;
}

.activeMenu {
    opacity: 1;
    visibility: visible;
    top: 50px;
}

.inactiveMenu {
    opacity: 0;   
    visibility: hidden;
    top: 20px
}