.navbar {
    height: 5rem;
    background: var(--m3--surfaces--surface2);
    transition: background-color var(--transition);
    display: flex;
    padding: 0px 15px;
}

.buttonGroup {
    width: 33.33%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
    position: relative;
}

.imgContainer {
    height: 100%;
    padding: 15px;
}

.logo {
    height: 100%;
}

.buttonGroup>[data-show=true] {
    position: absolute;
    width: 100%;
    visibility: visible;
    pointer-events: all;
}

.buttonGroup>[data-show=false] {
    visibility: hidden;
    pointer-events: none;
}

.tabs {
    display: flex;
    align-self: flex-end;
}

.tabs > div {
    position: relative;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--m3--sys--on-surface);
}

.tabRecipes {
    left: -40px;
}

.tabs > div > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: var(--m3--sys--background);
    opacity: 0.5;
}

.tabs > div > p {
    z-index: 2;
    margin: 0 40px;
    white-space: nowrap;
}

.tabs > div.activeTab > svg {
    opacity: 1;
}

.tabs > div.activeTab > p {
    color: var(--m3--sys--primary);
    font-weight: 700;
}
