.navbar {
	height: 5rem;
	transition: background-color var(--transition);
	display: flex;
	padding: 0px 15px;
	background: var(--m3--sys--primary);
}

.navbar > div {
	width: 100%;
}

.smallNav {
	display: none;
}

.largeNav {
	display: flex;
}

.buttonGroup {
	width: 33.33%;
	display: flex;
	align-items: center;
	padding: 0 10px;
	gap: 20px;
}

.buttonGroup:nth-child(1) {
	min-width: 370px;
}

.buttonGroup:nth-child(2) {
	justify-content: center;
}

.buttonGroup:nth-child(3) {
	min-width: 150px;
}

.imgContainer {
	height: 100%;
	padding: 15px 0;
}

.logo {
	height: 100%;
	max-width: 40px;
	background-color: var(--theme);
	padding: 2px;
	border-radius: 5px;
}

.addButton {
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.addButton > * > * {
	font-size: 1.5rem;
}

.buttonGroup > [data-show='true'] {
	position: absolute;
	width: 33.33%;
	visibility: visible;
	pointer-events: all;
}

.buttonGroup > [data-show='false'] {
	visibility: hidden;
	pointer-events: none;
}

.tabs {
	display: flex;
	align-self: flex-end;
}

.tabs > div {
	position: relative;
	top: 1px;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--m3--sys--on-surface);
}

.tabs > div:hover {
	/* text-shadow: 0px 0px 0.1px, 0.1px 0px 0.1px; */
	text-decoration: underline;
}

.tabRecipes {
	left: -40px;
}

.tabs > div > svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--theme);
	opacity: 0.5;
}

.tabs > div.activeTab > svg {
	opacity: 1;
}

.tabs > div > p {
	z-index: 2;
	margin: 0 40px;
	white-space: nowrap;
	font-size: 1.2rem;
}

.tabs > div.activeTab > p {
	color: var(--m3--sys--primary);
	/* font-weight: 700; */
}

.smallMenu {
	cursor: pointer;
}

.blur {
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 2;
	left: 0;
    backdrop-filter: blur(4px) brightness(40%);
	opacity: 0;
	transition: opacity 500ms ease-in-out;
	pointer-events: none;
}

.drawer {
	max-width: 60%;
	min-width: 300px;
	height: 100%;
	/* height: 100vh;
	width: 100%; */
	position: fixed;
	z-index: 2;
	left: 0;
	background-color: var(--m3--sys--surface-variant);
	border-radius: 0px 20px 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 2rem;
	translate: -110% 0;
	transition: translate 500ms ease-in-out;
}

.drawer>div {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0.5rem 0;
	justify-content: flex-start;
	color: var(--m3--sys--primary);
}

.drawer > div:nth-child(1) {
	margin-bottom: 3rem;
	justify-content: space-between;
}

.drawer > div:nth-child(2),
.drawer > div:nth-child(3),
.drawer > div:nth-child(5),
.drawer > div:nth-child(6),
.drawer > div:nth-child(7) {
	padding: 5px 10px;
	border-radius: 25px;
}

.drawer > div:nth-child(2):hover,
.drawer > div:nth-child(3):hover,
.drawer > div:nth-child(5):hover,
.drawer > div:nth-child(6):hover,
.drawer > div:nth-child(7):hover {
	background: var(--m3--surfaces--surface2);
}

.drawer > div:nth-child(2):active,
.drawer > div:nth-child(3):active,
.drawer > div:nth-child(5):active,
.drawer > div:nth-child(6):active,
.drawer > div:nth-child(7):active {
	background: var(--m3--sys--primary);
}

.drawer > div:nth-child(2),
.drawer > div:nth-child(3),
.drawer > div:nth-child(5),
.drawer > div:nth-child(7) {
	cursor: pointer;
}

.line {
	margin: 1rem 0;
	height: 0;
	width: 100%;
	border: 1px solid var(--m3--sys--primary);;
}

.drawer .icon {
	width: 30%;
	display: flex;
	align-items: center;
	color: var(--m3--sys--on-background);
}

.logoAvatar {
	justify-content: flex-end !important;
}

.avatar {
	pointer-events: none;
}

.signout {
	position: absolute;
	max-width: 10rem;
	bottom: 3rem;
	right: 2rem;
	justify-content: center !important;
}

.signout .icon {
	width: 50px;
}

@media only screen and (max-width: 740px) {

	.buttonGroup:nth-child(2) {
		min-width: 10px;
	}

	.addButton {
		display: none;
	}
	
	.largeNav {
		display: none;
	}

	.smallNav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.smallName {
		font-family: 'Solitreo';
		font-size: 2rem;
		color: var(--m3--sys--on-primary);
	}

	.smallMenu {
		color: var(--m3--sys--on-primary);
		margin-left: 1rem;
		width: 3rem;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	
	.blur.showDrawer {
		opacity: 1;
		pointer-events: all;
	}
	
	.drawer.showDrawer {
		translate:  0 0;
	}
}
