.navbar {
	height: 5rem;
	transition: background-color var(--transition);
	display: flex;
	padding: 0px 15px;
	background: var(--m3--sys--primary);
}


.buttonGroup {
	width: 33.33%;
	display: flex;
	align-items: center;
	padding: 0 10px;
	gap: 20px;
}

.buttonGroup:nth-child(1) {
	min-width: 370px;
}

.buttonGroup:nth-child(2) {
	justify-content: center;
}

.buttonGroup:nth-child(3) {
	min-width: 150px;
}

.imgContainer {
	height: 100%;
	padding: 15px 0;
}

.logo {
	height: 100%;
	max-width: 40px;
}

.addButton {
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.addButton > * > * {
	font-size: 1.5rem;
}

.buttonGroup > [data-show='true'] {
	position: absolute;
	width: 33.33%;
	visibility: visible;
	pointer-events: all;
}

.buttonGroup > [data-show='false'] {
	visibility: hidden;
	pointer-events: none;
}

.tabs {
	display: flex;
	align-self: flex-end;
}

.tabs > div {
	position: relative;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--m3--sys--on-surface);
}

.tabs > div:hover  {
	/* text-shadow: 0px 0px 0.1px, 0.1px 0px 0.1px; */
	text-decoration: underline;
}

.tabRecipes {
	left: -40px;
}

.tabs > div > svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--theme);
	opacity: 0.5;
}

.tabs > div.activeTab > svg {
	opacity: 1;
}

.tabs > div > p {
	z-index: 2;
	margin: 0 40px;
	white-space: nowrap;
	font-size: 1.2rem;
}

.tabs > div.activeTab > p {
	color: var(--m3--sys--primary);
	/* font-weight: 700; */
}

@media only screen and (max-width: 740px) {
	.buttonGroup:nth-child(2) {
		min-width: 10px;
	}

	.addButton {
		display: none;
	}	

}