.processWrapper {
    /* position: relative; */
}

.processWrapper .arrow {
    position: fixed;
    top: 3rem;
    left: 4rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.processWrapper .language {
    position: fixed;
    top: 3rem;
    right: 4rem;
}

.processWrapper .textWrapper {
    max-width: 1000px;
    margin: 3rem auto;
}

.processWrapper .welcome {
    font-size: 4rem;
    padding-top: 4rem;
}

.processWrapper  h1 {
    text-align: center;
}

.processWrapper  h2 {
    margin: 4rem 0 1rem;
}

.processWrapper  ul {
    margin-left: 2rem;
}

.processWrapper  ul > ul {
    margin-left: 1rem;
}

.processWrapper  li {
    margin: 0.7rem 0;
    display: flex;
    list-style-type: none;
}

.processWrapper a {
    white-space: nowrap;
}

.processWrapper p {
    margin-left: 0.2rem;
}

.gantt {
    margin: 1rem 3rem 0;
}

.breakdownDescription {
    line-height: 2rem;
}