.processWrapper {
    /* position: relative; */
}

.processWrapper .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 4rem 0;
}

.processWrapper .arrow {
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.processWrapper .textWrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.processWrapper h1 {
    font-size: 4rem;
    padding-top: 0rem;
    text-align: center;
    margin-bottom: 0;
}

.welcome {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem !important;
}

.processWrapper ol.toc > li {
    display: list-item;
    list-style:decimal;
    margin-left: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: blue;
    width: fit-content;
} 

.processWrapper ol.toc > li:hover {
    text-decoration: underline;
}

.processWrapper section {
    margin-top: 4rem;
}

.processWrapper h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    scroll-margin-top: 5rem;
}

.processWrapper h3 {
    margin-top: 1rem;
}

.processWrapper p {
    margin: 1rem 0;
}

.processWrapper ul {
    margin-left: 2rem;
}

.processWrapper li {
    margin: 0.5rem 0;
    display: flex;
    list-style-type: none;
}

.processWrapper a {
    white-space: nowrap;
}

.tocUI li {
    display: list-item;
    list-style:disc;
}


.figureDescription{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 50vh;
}


.gantt {
    margin: 1rem 3rem 0;
}