.processWrapper {
    /* position: relative; */
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 4rem 0;
}

.processWrapper .arrow {
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.processWrapper .textWrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.processWrapper .welcome {
    font-size: 4rem;
    padding-top: 0rem;
}

.processWrapper  h1 {
    text-align: center;
}

.processWrapper  h2 {
    margin: 4rem 0 1rem;
}

.processWrapper  ul {
    margin-left: 2rem;
}

.processWrapper  ul > ul {
    margin-left: 1rem;
}

.processWrapper  li {
    margin: 0.7rem 0;
    display: flex;
    list-style-type: none;
}

.processWrapper a {
    white-space: nowrap;
}

.processWrapper p {
    margin-left: 0.2rem;
}

.gantt {
    margin: 1rem 3rem 0;
}

.databaseDescription,
.uiDescription,
.breakdownDescription {
    line-height: 2rem;
    /* margin-left: 2rem; */
}

.figure {
    width: 80%;
    border: 1px solid rgb(0,0,0,0.2);
    display: block;
    margin: 2rem auto 0.5rem;
}

ul.ui > li {
    display: list-item;
    list-style:disc;
}

.figureDescription{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}