@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

* {
    border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--transition: 300ms; /* Manage light/dark theme transition speed. Leave at 300ms */
}

.card-flat {
	border-radius: 12px;
    padding: 16px;
	border: 1px solid var(--m3--sys--outline-variant);
	background: var(--m3--sys--surface-variant);
	transition: background-color var(--transition), border var(--transition);
}

.card-elevated {
	border-radius: 12px;
    padding: 16px;
	box-shadow: var(--m3---elevation--2);
	background: var(--m3--surfaces--surface1);
	transition: background-color var(--transition), border var(--transition);
}

/* Adapt all text not part of a material design component to light dark mode */
.generalText {
	color: var(--m3--sys--on-surface);
	transition: color var(--transition);
}

