.homepageWrapper {
    /* overflow: hidden; */
}

.triggerArrows{
    height: 0;
    width: 0;
    visibility:hidden;
    position: absolute;
    top: 10rem;
    left: 0;
}

.arrow {
    z-index: 50;
    height: 4rem;
    width: 6rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    animation: 2000ms 1000ms infinite ease-in-out downArrow;
}

.arrow > svg > path {
    fill: gray;
}

@keyframes downArrow{
    0%{
        translate: 0 -2rem;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        translate: 0 2rem;
        opacity: 0;
    }
}


.navbar {
    position: sticky;
    top: 0;
	height: 5rem;
    width: 100%;

    /* original */
	/* background: var(--m3--ref--primary--primary60); */
	background: var(--m3--ref--primary--primary80);

	
    transition: background-color var(--transition);
	display: flex;
    justify-content: space-between;
	padding: 0px 15px;
    z-index: 50;
}

.navGroup1,
.navGroup2 {
	display: flex;
	align-items: center;
	gap: 20px;
    margin-left: 20px;
}

.imgContainer {
	height: 100%;
	padding: 15px 0;
}

.logo {
	height: 100%;
	max-width: 40px;
}


.navGroup2 > Button:nth-child(2),
.navGroup2 > Button:nth-child(3) {
    background-color: white;
}

/* .navGroup2 > Button:nth-child(4) svg {
    background-color: red;
} */



/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ HERO ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  */

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 20px 0;
    height: 85vh;
    position: sticky;
    top: 5rem;
    margin-bottom: 50px;
}

.heroText {
    width: 40vw;
    padding: 10rem 2rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 2000ms;
    animation: 4000ms 500ms backwards fadetitlein;
    /* border: 1px solid red; */
}

.heroTitle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-family: 'Solitreo';
}


@keyframes fadetitlein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.heroText1 {
    font-size: 13rem;
    font-weight:900;
    width: 100%;
}

.heroText2 {
    font-size: 10rem;
    font-weight:900;
}
.heroText3 {
    font-size: 4rem;
    padding: 0 0 2rem 3rem;
}

.demoAccount {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    cursor: pointer;
}

.demoAccount > div {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.navGroup2 > Button:nth-child(1),
.demoAccount > Button {
    background: var(--m3--ref--secondary--secondary70);
    font-size: 1.5rem;
    color: white;
}

.heroCards {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.heroCard {
    position: sticky;
    top: 0;
    width: 23%;
    border-radius: 20px;
    margin: 5px;
    animation: 1000ms  backwards riseup;
    animation-timing-function: cubic-bezier(.01,.23,0,1);
    text-align: center;
    padding: 30px;
    font-size: 1.3vw;
    font-family: 'Rock Salt';
}

.heroCard:nth-child(4n+1){
    background: var(--m3--ref--primary--primary95);
}
.heroCard:nth-child(4n+2){
    background: var(--m3--ref--secondary--secondary90);
}
.heroCard:nth-child(4n+3){
    background: var(--m3--ref--primary--primary80);
}
.heroCard:nth-child(4n+4){
    background: var(--m3--ref--tertiary--tertiary90);
}

.heroCard:nth-child(4),
.heroCard:nth-child(10) {
    animation-delay: 200ms;
}
.heroCard:nth-child(2),
.heroCard:nth-child(5) {
    animation-delay: 400ms;
}
.heroCard:nth-child(8),
.heroCard:nth-child(11) {
    animation-delay: 600ms;
}
.heroCard:nth-child(3),
.heroCard:nth-child(12) {
    animation-delay: 800ms;
}
.heroCard:nth-child(6),
.heroCard:nth-child(9) {
    animation-delay: 1000ms;
}

@keyframes riseup {
 from {
    translate: 0 150vh;
 }
 to {
    translate: 0 0;
 }
}




/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ WAVES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  */

/* .wave1Container {
    height: 0;
    display: flex;
    align-items: center;

    z-index: 10;
} */
.wave1Container,
.wave2Container,
.wave3Container {
    height: 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}


/* ~ ~ ~ ~ ~ ~ ~ ~  FIRST WAVES ~ ~ ~ ~ ~ ~  */
/* light color */
.wave1,
.wave4 {
    fill: var(--m3--ref--primary--primary95);
}

/* medium color */
.wave2,
.wave5 {
    fill: var(--m3--ref--primary--primary90);
}

/* dark color */
.wave3,
.wave6 {
    fill: var(--m3--ref--primary--primary80);
}


/* ~ ~ ~ ~ ~ ~ ~ ~  SECOND WAVES ~ ~ ~ ~ ~ ~  */
.wave7,
.wave10 {
    fill: var(--m3--ref--tertiary--tertiary80);
}
.wave8,
.wave11 {
    fill: var(--m3--ref--tertiary--tertiary90);
}

.wave9,
.wave12 {
    fill: var(--m3--ref--tertiary--tertiary95)
}

/* ~ ~ ~ ~ ~ ~ ~ ~  THIRD WAVES ~ ~ ~ ~ ~ ~  */


/* top layer */
.wave13,
.wave16 {
    fill: var(--m3--ref--secondary--secondary90)
}

/* middle layer */
.wave14,
.wave17 {
    fill: var(--m3--ref--secondary--secondary95)
}

/* bottom layer connecter to stack section */
.wave15,
.wave18 {
    fill: white
}



/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ RECIPES & LISTS ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  */

.lists,
.recipes {
    height: 90vh;
    background-color:var(--m3--ref--primary--primary80);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5rem 0 0 0;
    z-index: 2;
    position: relative;
}


.text{
    width: 100%;
    margin: 5rem 0 6rem;
    text-align: center;
}


.text1{
    font-size: 3rem;
}

.text2{
    font-size: 2rem;
}

.example {
    height: 100%;
    position: relative;
    min-width: 60%;
    display: flex;
    justify-content: center;
}

.shadow,
.card {
    /* margin: 0 auto; */
    padding: 3rem 4rem;
    width: 100%;
    max-width: 1060px;
    min-height: 100%;
    border-radius: 30px;
    transform: rotateY(20deg) rotateX(20deg) rotateZ(-5deg);
    position: absolute;
}

.card {
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.5);
    min-width: 820px;
}

.shadow {
    background-color: black;
    opacity: 0.5;
    box-shadow: 0 0 20px 30px black;
    height: 80rem;
    min-width: 820px;
}

.recipes .card:nth-child(1) {
    left:25%;
    z-index: 4;
}

.recipes .shadow:nth-child(2) {
    top: 3rem;
    left: 19%;
    rotate: -5deg;
    z-index: 3;
}

.recipes .card:nth-child(3) {
    top: 4rem;
    left: 3%;
    rotate: -5deg;
    z-index: 2;
}

.recipes .shadow:nth-child(4) {
    /* background-color: blue !important; */
    top: 6rem;
    left: 0;
    rotate: -8deg
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* .close {
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    right: 3rem;
} */

.headings {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
    text-decoration: underline;
}

.headings > .quantity {
    direction: rtl;
    margin-right: 1rem !important;
}

.row {
    font-size: 2rem;
    display: flex;
    margin: 1rem 0;
}

.row>div {
    /* border: 1px solid blue; */
    white-space: nowrap;
} 

.ingredient{
    
    min-width: 12rem;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quantity{
    width: 4rem;
    text-align: right;
    margin-right: 2rem;
}

.unit{
    width: 5rem;
    margin-right: 2rem;
}

.lists .section,
.recipes .section {
    width: 12rem;
}

.kcal{
    width: 5rem;
}



/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ LISTS ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  */
.lists {
    background: var(--m3--ref--tertiary--tertiary95);
    height: 90vh;
}

.lists .card{
    left:10%;
    z-index: 4;
}

.lists .shadow{
    top: 3rem;
    left: 5%;
    rotate: -5deg;
    z-index: 3;
}


.recipeNames{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.recipeNames > div {
    border: 1px solid gray;
    border-radius: 10px;
    color: gray;
    font-size: 2rem;
    padding: 5px;
}


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ StACK ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  */

.section.stack {
    height: 60vh;
    width: 100%;
    background-color: white;
    /* margin-bottom: 5rem; */
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.72);

    bottom: 0;
    display: flex;     */
}

.stack>div{
    display: flex;
    align-items: center;
}

.stackText {
    font-size: 3rem;
    margin-right: 1rem;
}

.stack > div > Button {
    font-size: 3rem;
    height: 4rem;
}

.stackIcons {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 4rem;
}

.stackIcons{
    font-size: 6rem;
}

.stackIcons:nth-child(3) {
    font-size: 4rem;
    /* background-color: red !important;
    border: 1px solid red !important; */
}

.hidden > div {
    opacity: 0;
    filter: blur(5px);
}

.show > div {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
}

.stackIcons >div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stackIcons >div > span{
    visibility: hidden;
    font-size: 1rem;
    color: black;
}

.stackIcons > div:hover span{
    visibility: visible;
}



/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ FOOTER ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  */


footer {
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.github,
.linkedin {
    /* height: 100%; */
    font-size: 3rem;
}

.github {
    color: white;
}

.linkedin {
    /* color: #3b5998; */
    color: white;
    /* background-color: white; */
}

footer > p {
    color: white;
    font-size: 1.5rem;
}

