.errorPage {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px) brightness(40%);
}
.messageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 2rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 20px;
}

.message {
    font-size: 1rem;
}

